<h1 class="welcome-heading">jd king</h1>
<br><br>
<p class="welcome-message">building solutions for the last <%= ((Time.now - Time.new(2016,5,1)) / (3600 * 24)).floor %> days</p>
<br><br><br>
<p class="welcome-message">this is an evolving site</p>