<div id="blog-container">
  <div id="blog-heading">
    <h1>Musings</h1><br>
    <h3 id="blog-prologue">A web log of my journey into web development.</h3>
  </div>
  <br>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-dutch' %>

  <% @posts.each do |post| %>
    <div class="media">
      <div class="media-body post-title">
        <h3><%= post.title %></h3></br>
      </div>
      <div class="media-content post-body">
          <p><%= post.body %></p>
    <!--      <td>< link_to 'Show', post %></td>
          <td>< link_to 'Edit', edit_post_path(post) %></td>
          <td>< link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </div>
    </div>
  <% end %>

</div>