/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: auto;
  background-color: #fff;
}

.nav {
  margin: auto;
  margin-top: .75rem;
  color: #000;
}

.container {
  margin: auto;
  color: #444;
}

.user-info {
  margin_top: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.name {
  margin-top: 8px;
  color: #628;
  font-size: 1.5em;
}

.btn-dutch {
    background-color: #ff4f00;
    color: #000!important;
    margin-left: 10px;
}

a:hover {
  background-color: #3d0099;
  color: #fff!important;
}

.btn-sign-out {
  background-color: #fff;
  color: #777!important;
}

.btn-sign-out:hover {
  background-color: #777;
  color: #fff;
}