// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#blog-container {
    background-color: #fff;
    padding: 10px;
}

#blog-heading {
    color: #ff4f00;
    text-align: center;
}

#blog-prologue {
    color: #666;
}


.post-title {
    color: #222;
    text-align: center;
}

.post-body {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    color: #888;
    margin: 5px;
    text-align: justify;
}

.post-date {
    text-align: center;
}

.btn-dutch {
    background-color: #ff4f00;
    color: #000!important;
    margin-left: 10px;
}

.btn-purple {
    background-color: #3d0099;
    color: #fff!important;
    margin-left: 10px;
}

.btn-purple:hover {
    background-color: #f00;
}