.btn-dutch {
    background-color: #ff4f00;
    color: #000!important;
    margin-left: 10px;
}

h2 {
    color: #ff4f00!important;
    font-size: 40px;
}

.btn-dutch:hover {
  background-color: #3d0099;
  color: #fff!important;
}