.welcome-heading {
    margin: auto;
    color: #ff4f00;
    text-align: center;
    font-size: 5rem;
    font-family: "Times New Roman", Times, serif;
}

.welcome-message {
    margin: auto;
    text-align: center;
    font-size: 4rem;
    line-height: 5rem;
}